<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Denon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.3.1" newVersion="5.11.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Denon.Properties.Settings>
      <setting name="IP_Address" serializeAs="String">
        <value>192.168.178.69</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Office</value>
      </setting>
      <setting name="QSelect1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="QSelect2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="QSelect3" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="QSelect4" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="QSName1" serializeAs="String">
        <value>QSN1</value>
      </setting>
      <setting name="QSName2" serializeAs="String">
        <value>QSN2</value>
      </setting>
      <setting name="QSName3" serializeAs="String">
        <value>QSN3</value>
      </setting>
      <setting name="QSName4" serializeAs="String">
        <value>QSN4</value>
      </setting>
      <setting name="QSetVol1" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="QSetVol2" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="QSetVol3" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="QSetVol4" serializeAs="String">
        <value>50</value>
      </setting>
    </Denon.Properties.Settings>
  </userSettings>
</configuration>